html
{
	
    padding: 25px;
    background: url(/images/bground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	height:-5%;
}

img#mypic{
    height:200px;
    width: 180px;
    display: block;
    float : right;
    margin-top: -100px;
    margin-right: 100px;
    border: solid 1px blue;  
}

.container {
	width: 80%;
	margin-top: 0;
	margin-left: 9%;
	position: absolute;
	background-color: rgba(1,0,0,0.6);
	padding: 20vh 20px;	
    z-index:1;
}
.content{
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
    margin-top:-100px;
    margin-left:300px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.Short_description{
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
	margin-top:-10px;
    margin-left:300px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.Pnumber{
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
	margin-top:-5px;
    margin-left:300px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.email{
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
	margin-top:-1px;
    margin-left:300px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.educ{
    font-family:Georgia;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.schools{
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
	margin-top:-7px;
    margin-left:300px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.hobby{
    font-family:Georgia;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.hobbies{
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
	margin-top:-7px;
    margin-left:300px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

.refer{
    font-family:Georgia;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
}

.person {
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
	margin-top:-7px;
    margin-left:300px;
}

.skill{
    font-family:Georgia;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
}

.skills {
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    color:  white;
    font-size: 1em;
	margin-top:-7px;
    margin-left:300px;
}


